.white-framed{
    overflow: hidden;
    border: solid 3px white;
}
.text-section{
  @include center-pushed-text(8);
}
.full-width{
  width:100% !important;
  height:auto !important;
}
.full-height{
  width:auto !important;
  height:100% !important;
}
.alignright{
  float:right;
}
.alignleft{
  float:left;
}
.disappear{
  opacity: 0;
  width: 0px;
  display: none !important;
  transition: 1s;
}
.tag {
    border: solid 1px;
    margin: 2px;
    padding: 1px 9px;
    display: inline-block;
}
.tag.active {
  background-color:$blue;
  color:white;
}
