/**
this file contains the properties of some of the list items such as 
individual posts in a posts list, and their wrappers.

*/



/* Items that go inside section-container. Their type vary*/
$items-per-line: 4;
$item-spacing: 20px;


.item-post-thumbnail-container .size-post-thumbnail {
    width: 100%;
}

.item-paragraph-container {
    // width: 100%;
}

.items-pilots-wrapper {
    @include columnized-wrapper();
    
    margin-top: $item-spacing;
    
    .item-pilot-container {
        $borderpx:3;

        @include columnized-item( $items-per-line );

        overflow: hidden;
        display: inline-block;

        padding: $item-spacing;
        margin: -$borderpx;

        // background-color: #999;
        *{
            text-overflow: ellipsis;
        }

        .item-paragraph-container{
            border: solid #{$borderpx}+px $blackish;
            
            border: solid 3px #433A3F;
            display: block;
            height: 182px;
            overflow: hidden;

            img {
                width: 100%;
            }
            
            .post-title-container{
                font-weight: 1em;
                color: black;
                size: 15px;
                // padding:10px;
            }
        }
    }
}

