//I am defining styles for classes which will only appear on one page.
//Would it be more reasonable to add an inline style to each page?

//maybe, so that we don't need to load the whole css for each page
//  but in this context I can use the scss variables and the so.
//perhaps a future development could be to define the SCSS compiler
// to make multiple css files.
.main-events-container{
    
    .event-section-container{
        .event-facilitator-list{
            @include remove-list-style();
            @include subtitle();
        }
    }

}

.main-pilots-container{
    .items-pilots-wrapper {
        @extend .row;
        
        margin-top: $item-spacing;
        
        .item-pilot-container {
            $borderpx:3;

            @extend .col-lg-3;
            @extend .col-sm-4;
            @extend .col-xs-6;

            overflow: hidden;
            display: inline-block;

            padding: $item-spacing;
            margin: -$borderpx;

            // background-color: #999;
            *{
                text-overflow: ellipsis;
            }

            .item-paragraph-container{
                border: solid #{$borderpx}+px $blackish;
                
                border: solid 3px #433A3F;
                display: block;
                height: 182px;
                overflow: hidden;

                img {
                    width: 100%;
                }
                
                .post-title-container{
                    font-weight: 1em;
                    color: black;
                    size: 15px;
                    // padding:10px;
                }
            }
        }
    }
}