/**
this file contains the properties of some of the list items such as 
individual posts in a posts list, and their wrappers.

*/




$item-spacing: 20px;

.main-container{
    
    .item-side-data-container{
        @include side-thing();
        position:sticky;
        top:50px;
    }

    .section-post-container{
        .item-post-content-container{
            @include side-thing-counterpart();
            img{
                max-width: 100%;
            }
        }
    }

    .section-container{
        @extend .container;
    }
}


