header.section-container.section-header-container{

  height:$header-menu-height;
  transition: 0.5s;
  // padding-top: 27px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: white;

  margin:0px;
  text-align: center;

  width:100vw;
  max-width: unset !important;

  $sticky-scrolled-menu-height:47px;
  $sticky-scrolled-menu-offset:-32px;
  &.sticky-scrolled{
    //when the view has been scrolled, and it "sticks"
    border-bottom: solid 1px #f1f1f1;

    height: $sticky-scrolled-menu-height - $sticky-scrolled-menu-offset;
    transition: 0.5s;
    top: $sticky-scrolled-menu-offset;

    .item-header-container img.logo{
      height: 43px;
      transition: 0.5s;

      margin-top: 2px;
    }
    /*if the menu is mobile-collapsed, but active and also is smaller due to scrolling,
    it's offset-top needs to be less to prevent a transparent gap between top-navigation-bar
    and the menu*/
    &.collapsed .main-menu-container > *{
      top: $sticky-scrolled-menu-height;
      transition: top 0.5s;
    }
  }

  .item-header-container{
    @extend .container;

    text-align: justify;
    // width: 100%;
    border-bottom: 1px #1f1f1f;
    position:relative;

    img.logo{
      height: 58px;
      transition: 0.5s;

      margin-top:-5px;
    }
    // $main-menu-container-top: ($header-menu-height/2) - 18;
    .main-menu-container {
      // margin-left: 3em;
      position: absolute;
      right: 0px;
      top: 0.5rem;
      ul.menu-navigation>li{
        position: relative;
        &>ul.sub-menu{
          position:absolute !important;
        }
        ul.sub-menu{
          display: block;
          background-color: white;
          top: -100vh;
          // transition: top 1s;
          position:relative;
          padding: 6px;
          li{
            display:block;
            padding:6px;
            border-left: solid 1px;
          }
        }
      }

      ul>li:hover{
          ul.sub-menu{
            top:0px;
            transition: top 1s;
            // display:block;
          }
      }
    }




    .title-container{
        display:inline-block;
    }
    .main-menu-container{
        ul {
            @include remove-list-style();
        }

        ul li{
            //display:inline-block;
            a {
                color: #000;
                text-decoration: none;
                // background: pink;
                font-size: 0.8em;
                font-weight: 500;
                line-height: 16px;
                padding: 7px;
            }
            a:hover{
                // text-decoration: underline;
                color:$blue;
            }
            a:active{
                // text-decoration: underline;
                color:$blue;
            }
        }
    }
  }


  //active: when the collapsed menu is being displayed
  &.collapsed.active .main-menu-container{
    // cursor:pointer;
    &:before {
    //   // content: ">>";
    //   font-family: "Glyphicons Halflings";
    //   content: "\e258";
      font-family: 'FontAwesome';
      content:$fa-var-angle-double-right;
      float: right;
    }


    &>*{
      width: 100vw;
      height: 100vh;
      transition:0.2s;
      // left:0;
      // display: block;
      pointer-events:all;
      opacity:1;
    }
  }
  //collapsed: when the screen is small enough to tweak the menu
  &.collapsed .main-menu-container{
    cursor:pointer;
    cursor: pointer;
    top: -0.5rem;



    &:before {
      font-family: 'FontAwesome';
      content:$fa-var-bars;
      // font-family: "Glyphicons Halflings";
      // content: "\e236";//"hamburger"
      // content: "| | |";
      font-size: 28px;
      right: 22px;

      position: absolute;
      top: 28px;
      margin-top: -17px;
    }


    &>*{
        z-index: 1200;
        transition:0.2s;
        background-color: white;

        pointer-events:none;
        opacity:0;
        width: 0;

        position: fixed;
        top: $header-menu-height;
        transition: top 0.5s;

        overflow-x: none;
        overflow-y: auto;

        // position:absolute;

        margin:0px;
        padding:$padding;

        top: $header-menu-height;// - $main-menu-container-top;
        right:0;


        // display:none;

        ul>li{
            // margin: 5vh 2vw;
            font-size: 10vw;
            font-weight: 1;
            text-transform: capitalize;
            display: block;
            width:100%;
        }

    }

  }
}
