/**
targeted to post of pilot type-
*/
body.single-event{
        
    
    .section-post-header-container{
        
        .item-date-container{
            position: relative;
            font-family: $heading-font-family;
            line-height:4em;
            width: 100%;
            text-align: center;
            .wrap{
                @extend .col-sm-2;
                position: absolute;
                right:0px;
                border:solid 3px black;
                background-color: white;
                padding: 2rem 0;
                span{
                    display:block;
                }
                .weekday{
                    font-size:1.2rem;
                }
                .monthday{
                    font-size:5rem;
                }
                .month{
                    font-size: 2.4em;
                    text-transform: uppercase;
                }
            }
        }
        
        &>*{
            @extend .col-sm-8;
        }

        ul{
            list-style-type: none;
            list-style-image: none;
            text-transform: uppercase;
            color: grey;
            font-size: .85em;
        }

        // position: relative;
        .item-title-container{
            font-size: 2.3em;
            margin-bottom: 0.5em;
        }
        .items-categories-wrapper{
            min-height: 9em;
        }
        .item-post-type-container{
            color:$gray;
        }
        
    }
    .section-post-thumbnail-container{
        max-height: 600px;
        overflow: hidden;
        .post-thumbnail{
            width:100%;
        }
    }
    .section-after-post-container{
        //in this case, containing "prev" and "next" links;
        .items-wrapper{
            @extend .row;
            
            a{
                @extend .col-sm-6;
                span{
                    display:block;
                }
            }
        }
    }

    .item-side-data-container{
        border:solid 3px $blackish;
        span{
            display:block;
        }
        h2{
            font-size:1.2em;
            margin-bottom:1.5em;
            margin-top: 1em;
            text-transform:none;
            font-weight: 300;
        }
        .event-ispublic,.button, .ical-export {
            margin-top: 2em;
            font-weight: 600;
        }
        .button{
            width: 100%;
        }
    }
    
}