@mixin side-thing {
    @extend .col-sm-4;
    @extend .col-xs-12;
    position: relative;
    overflow: hidden;
}
@mixin side-thing-counterpart{
    @extend .col-sm-7;
    @extend .col-xs-12;
    float: right;
}