

.main-events-container{
    .items-wrapper{
        .item-events-container{
            @include fully-wide-item(25px);
            .item-title-container{
                font-weight: 900;
            }
            .item-date-container{
                .hours{
                    font-size: 0.8em;
                }
                .timezone{
                    display: none;
                }
                .calendar-day{
                    display: block;
                    font-size: 2em;
                    text-transform: uppercase;
                    font-weight: 1000;
                }
                .weekday{
                    font-size: 0.8em;
                    display: block;
                }
            }
        }
        &.items-past-events-wrapper {
          .item-container{
            opacity:0.5;
            transition:opacity 0.2s;
            &:hover{
              opacity: 1;
              transition:opacity 0.2s;
            }
          }
        }
    }


    .item-calendar-container{
        //I would
        // @extend .item-post-thumbnail-container;
        //but for some reason it doesn't allow me to override border color & height
        // @include side-thing();
        // top: -100px;

        // cursor:pointer;
        border: solid 3px black;
        background-color: white;
        height: auto;
        text-align: center;

        // a{
        //     border-bottom:unset;
        // }
        .em-calendar-wrapper {
            position: relative;
            display: inline-block;
        }
    }
    .event-section-container{
        .event-facilitator-list{
            @include remove-list-style();
            @include subtitle();
        }
    }

}
