
$item-spacing: 15px;

.section-container .items-pilots-wrapper {
    // @extend .row;

    margin-top: $item-spacing;

    left: -$item-spacing;
    position: relative;
    .item-categorizer-tag-title {
      @include title1();
      font-size: 1.58rem;
      display: inline-block;
      width: 100%;
      margin-top: 55px;
    }
    hr{
      // margin-bottom: 44px;
      margin-top: 72px;
      width:100%;
      display:inline-block;
    }
    .classifier-menu{
      .count {
        font-size: 0.8em;
        border: solid 1px;
        border-radius: 1rem;
        padding: 0px 7px;
      }
      .category-menu{
        border-top:solid 1px black;
        &:before {
          content: "Browse pilots list by:";
          padding-right: 1rem;
        }
      }
      .tag-menu{
        border-top:solid 1px black;

      }
    }
    &>*{
      padding:$item-spacing;
    }
    .item-pilot-container {
        $borderpx:3;

        @extend .col-lg-3;
        @extend .col-sm-6;
        // @extend .col-sm-4;
        @extend .col-xs-12;

        overflow: hidden;
        display: inline-block;

        padding: $item-spacing;

        // background-color: #999;
        *{
            text-overflow: ellipsis;
        }

        .item-paragraph-container{
            border: solid #{$borderpx}+px $blackish;

            border: solid 3px #433A3F;
            display: block;
            // height: 182px;
            overflow: hidden;

            .post-image-container{

              //prevents the infuriating content jumping while pictures are loading.
              @media (max-width:$screen-xs-max){
                height: 50vw;
                overflow:hidden;
              }

              img {
                width: 100%;
              }
            }
            .ellip-line {
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-wrap: normal;
            }

            .ellip,
            .ellip-line {
                position: relative;
                overflow: hidden;
                max-width: 100%;
            }
            .post-title-container{
                font-weight: 1em;
                // color: black;
                size: 15px;
                height: 3.8rem;
                padding: 0px 8px;
                // padding:10px;
            }
        }
    }
}
