.section-container .items-pilots-wrapper {
    @extend .row;

    margin-top: $item-spacing;

    .classifier-menu{
      .count {
        font-size: 0.8em;
        border: solid 1px;
        border-radius: 1rem;
        padding: 0px 7px;
      }
      .category-menu{
        border-top:solid 1px black;
        &:before {
          content: "Browse pilots list by:";
          padding-right: 1rem;
        }
      }
      .tag-menu{
        border-top:solid 1px black;

      }
    }
    .item-pilot-container {
        $borderpx:3;

        @extend .col-sm-3;
        // @extend .col-sm-4;
        @extend .col-xs-12;

        overflow: hidden;
        display: inline-block;
        //with the float:left that comes with col elements, there will be white gaps if an element of the previous line is just one pixel taller than the rest. The pictures in the list are so.
        //the other possibility of fixing this is by using a js code, but probably it is more efficient this way:
        float:none;
        margin:-3px;

        padding: $item-spacing;
        margin: -$borderpx;

        // background-color: #999;
        *{
            text-overflow: ellipsis;
        }

        .item-paragraph-container{
            border: solid #{$borderpx}+px $blackish;

            border: solid 3px #433A3F;
            display: block;
            // height: 182px;
            overflow: hidden;

            .post-image-container{

              //prevents the infuriating content jumping while pictures are loading.
              @media (max-width:$screen-xs-max){
                height: 50vw;
                overflow:hidden;
              }

              img {
                width: 100%;
              }
            }
            .ellip-line {
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-wrap: normal;
            }

            .ellip,
            .ellip-line {
                position: relative;
                overflow: hidden;
                max-width: 100%;
            }
            .post-title-container{
                font-weight: 1em;
                // color: black;
                size: 15px;
                height: 3.8rem;
                padding: 0px 8px;
                // padding:10px;
            }
        }
    }
}
