
.item-post-type-container{
  color: #969696;
  font-size: 1rem;
  font-weight: bold;
  text-transform: none;
  font-family: $font-family;
}
.item-author-container{
  text-transform: uppercase;
  color: $gray-dark;
  font-size: .85em;
}
.items-wrapper.items-other-posts-wrapper{
  .link-head{
    font-weight: bold;
    text-transform: capitalize;
    color:$gray;
  }
  .post-arrow{
    height: 9rem;
    width: 40px;
    font-size: 1.5rem;
    padding: 0px 15px;
    color: $gray;
    font-weight: bold;

    &.post-next-arrow{
      float: right;
    }
    &.post-prev-arrow{
      float:left;
    }
  }
}
//prevent pictures in posts from getting out of bounds.
//this can be overridden by putting the image inside some other element
.item-post-content-container>img, .item-post-content-container>p>img{
  max-width: 100%;
  height:auto !important;
}
// .main-container>.section-container:not(first-child){
//   &>div:first-child{
//     /* makes a visual hr line, where margin-top is the distance of it from the last element, and padding-top is it's distance with the following element*/
//     margin-top:100px;
//     padding-top:64px;
//     border-top:solid 1px $border-color;
//   }
//
// }
