body.home{
  .home-larger{
    font-size:1.5em;
  }

  .section-container
  .button-more{
      color:$red;
      margin-top: 3rem;
      display: block;
      text-align: center;
      transition: margin-left 0.5s;
      font-weight: 600;
      // @extend .glyphicon-arrow-right;
      &::after{
        content:" >";
      }
      &:hover{
        margin-left: 36px;
        transition: margin-left 0.5s;
      }
  }
  .section-callout-container {
      background-color: black;
      color: white;
      padding: 1rem;
      margin: 0;
      width: 100%;
      font-size: .9rem;
      text-align: center;
      max-width: unset;
  }
  .section-post-header-container{
    min-height: 626px;
    overflow: hidden;
    .items-header-wrapper{
      @extend .container;
      @extend .row;
      .item-subscribe-container{
          @extend .col-sm-4;
          // @extend .col-sm-push-8;
          font-size: 0.72rem;
          float: right;
          border: solid 3px black;
          background-color: white;
          color: black;
          text-transform: none;
          position: relative;
          top: -69px;
          z-index: 10;
          margin-left: 53px;
          padding: 20px;
          h1,h2{
            color:black;
            text-transform: none;
          }
          #mce-EMAIL{
            margin-right: -4px;
          }
          #mc-embedded-subscribe{
            margin-left: 0px;
          }
          small{
            opacity: 0.6;
          }
      }
    }
    h2{
      text-transform: uppercase;
    }

  }

  .section-post-content-container{
    padding-bottom: 163px;
  }
  .section-news-container{
    .items-news-wrapper{
      padding-top: 12px;
      padding-bottom: 1px;
    //   .item-author-container,.item-title-container,.item-author-container{
    //     padding:10px;
    //   }
    // }
    // p{
    //   @extend .col-sm-8;
    }
    padding-bottom: 198px;
    padding-top: 195px;
  }
  .section-container.section-more-about-container{
      @include hero-item();
      background-color:$blue;

      // &>*{
      //     @extend .container;
      // }
      blockquote{
          font-family: $heading-font-family;
          font-size: 2rem;
          font-weight: bold;
          line-height: 3rem;
          color:white;

      }
  }
  .items-pilots-wrapper{
    margin-top:85px;
  }
  .section-events-showcase-container{
      @include hero-item();
      text-align:center;
      background-color: $blackish;
      padding-top: 87px;
      img,.timezone,.hours{
          display: none;
      }
      .item-title-container,.item-date-container{
          color:white;
          display:block;
      }
      .item-title-container{
          font-size: 1.7rem;
          font-weight: bold;
      }
      .item-date-container{
          font-size: 1rem;
      }
      a:hover>*{
        text-decoration:underline;
        margin-left:10px;
      }
      .items-wrapper{
        margin-top: 99px;
        padding-bottom: 18px;
      }
  }
  .section-news-showcase-container {
    text-align: center;
    .items-wrapper{
      text-align: initial;
    }
  }
  .section-pilots-list-container{
    top: 46px;
    .item-before-container,.item-after-container{
      @include center-pushed-text(8);
      float:none;
    }
  }
}
