body.home{
  .section-container
  .button-more{
      color:$red;
      margin-top: 5rem;
      display: block;
      text-align: center;
      transition: margin-left 0.5s;
      &::after{
          content:" →"
      }
      &:hover{
        margin-left: 36px;
        transition: margin-left 0.5s;
      }
  }
  h2{
    color: $gray;
    text-transform: none;
  }
  .section-callout-container {
      background-color: black;
      color: white;
      padding: 1rem;
      margin: 0;
      width: 100%;
      font-size: .9rem;
      text-align: center;
      max-width: unset;
  }
  .section-post-header-container{
    h2{
      text-transform: uppercase;
    }
    .item-subscribe-container{
        @extend .col-sm-4;
        float: right;
        border: solid 3px black;
        background-color: white;
        color: black;
        text-transform: none;
        position: relative;
        top: -69px;
        z-index: 2;
        margin-left: 53px;
        padding: 20px;
        h1,h2{
          color:black;
          text-transform: none;
        }
    }
  }
  // .items-news-wrapper{
  //   .item-author-container,.item-title-container,.item-author-container{
  //     padding:10px;
  //   }
  // }
  // p{
  //   @extend .col-sm-8;
  // }
  .section-container.section-more-about-container{
      @include hero-item();
      background-color:$blue;

      // &>*{
      //     @extend .container;
      // }
      blockquote{
          font-family: $heading-font-family;
          font-size: 2rem;
          font-weight: bold;
          line-height: 3rem;
          color:white;

      }
  }
  .items-pilots-wrapper{
    margin-top:85px;
  }
  .section-events-showcase-container{
      @include hero-item();
      text-align:center;
      background-color: $blackish;
      img,.timezone,.hours{
          display: none;
      }
      .item-title-container,.item-date-container{
          color:white;
          display:block;
      }
      .item-title-container{
          font-size: 2.3em;
          font-weight: bold;
      }
      .item-date-container{
          font-size: 1.3em;
      }
      a:hover>*{
        text-decoration:underline;
        margin-left:10px;
      }
  }
  .section-pilots-list-container{
      .item-before-container,.item-after-container{
        @include center-pushed-text(8);
        float:none;
      }
  }
}
