/**
these are page specific rules for the pages which
contain a list of items of a certain post type and
a static page. in other words, the "news", "events",
"pilots","home", "jobs", "about"
*/

body.page{

    .section-single-header-container{
        @extend .row;
        .featured-image-container{
            @extend .col-sm-4;
        }
    }

    .section-post-header-container{
        @include hero-item();
        margin-top:0;
        background-color: $yellow;
        position:relative;
        overflow: hidden;
        .deco-noise-picture{
          position:absolute;
          // z-index: 1;
          top:0px;
          left:0px;
          width:100%;
        }
        .item-post-title-container{

            @extend .container;
            position: relative;
            z-index: 2;
            >h1{
                font-size: 0.9rem;
                font-weight: 100;
                color:white;
                font-family: $font-family;
            }
            >p{
                font-size: 3.4rem;
                line-height: 1em;
                font-weight: 400;
                font-family: $heading-font-family;
                text-transform: uppercase;
            }
        }
    }


    .section-post-container{
        @extend .container;
        @extend .row;
        // position: relative;
        .item-post-thumbnail-container,.item-calendar-container{
            @extend .col-sm-4;
            @extend .col-xs-6;
            position: relative;
            overflow: hidden;
            //specially useful for the calendar element:
            min-width:207px;

            margin-top: -150px;
            margin-bottom: 40px;
            
            padding-left: 0px;
            // position: absolute;
            img{
                position: absolute;
                right: 0px;
                height: 100%;
                width: unset;
            }
        }
        .item-post-thumbnail-container{
            border: solid 3px white;
        }


    }

}
