
body.single .section-after-post-container{
    //in this case, containing "prev" and "next" links;
    .items-wrapper.items-other-posts-wrapper{
      @extend .row;

      a{
        @extend .col-sm-6;
        span{
          display:block;
        }
      }
      .title{
        color:$font-color;
        font-size: 1.2em;
        font-weight: 900;
      }
    }
}
